<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Edit details </title>

    <!-- Bootstrap Core CSS -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/public/css/clean-donation.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<script>
function myFunction() {
    alert("Updated Successfully!");
}
</script>
    <a class="navbar-brand" href="/" style="color:#4d0000"><u><b>Back to Home</b></u></a>
    <div class="container">
    <h1 style="text-align: center">Donor Details</h1>
    <div class="panel panel-danger">
        <div class="panel-heading">Note : if you want to update something, you can edit and change.</div>
        <div class="panel-body">
            <form role="form" method="post" action="/api/editSdonation/<%=data._id%>" id="contact-form" class="contact-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dName" style="color:red">Donor's Name:</label>
                            <input type="text" class="form-control" name="dName"required autocomplete="off" id="dName" value="<%=data.dName%>" placeholder="Change name">
                        </div>
                    </div>  
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dEmail" style="color:red">Email id:</label>
                            <input type="email" class="form-control" name="dEmail"required autocomplete="off" id="dEmail" value="<%=data.dEmail%>" placeholder="Change Email">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dContactno" style="color:red">Contact:</label>
                            <input type="number" class="form-control" name="dContactno"required autocomplete="off" id="dContactno" value="<%=data.dContactno%>" placeholder="Change Contact">
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" style="color:red"><label for="dAddress">Address:</label>
                            <textarea class="form-control textarea" rows="5" name="dAddress" id="dAddress" placeholder="Change Address Section"><%=data.dAddress%></textarea>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="aType" style="color:red">Article Type:</label>
                            <input type="text" class="form-control" name="aType" autocomplete="off" id="aType" value="<%=data.aType%>" placeholder="Change type">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="aName" style="color:red">Article Name:</label>
                            <input type="text" class="form-control" name="aName"required autocomplete="off" id="aName" value="<%=data.aName%>" placeholder="Change Article">
                        </div>
                    </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="aQuantity" style="color:red">Quantity:</label>
                            <input type="number" class="form-control" name="aQuantity"required autocomplete="off" id="aQuantity" value="<%=data.aQuantity%>" placeholder="Change Quantity">
                        </div>
                    </div>
                
                
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn main-btn pull-right btn-warning" onclick="myFunction">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</body>
</html>


